<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>What's New</title>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color:rgb(255, 255, 255)"><strong>What's New</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:rgb(219, 217, 217)">Insights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:rgb(219, 217, 217)">Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:rgb(219, 217, 217)">Random</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:rgb(219, 217, 217)">Admin</a>
            </li>
          </ul>
        </div>
      </nav>
</head>

&nbsp
<body style="background-color:rgb(16, 44, 61)">
    <h2 style="color:aliceblue">&nbsp What's New</h2>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

        <div class="card text-center">
          <div class="card-header" style="background-color:rgb(16, 44, 61); color:aliceblue">
            <strong>Featured</strong>
          </div>
          <div class="card-body" style="height: 20rem; background-color:rgb(221,235,82)">
            <h5 class="card-title">Blah Blah Blah</h5>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>

        &nbsp

        <div class="row" style="height: 30rem;">
          <div class="col-sm-1"></div>
          <div class="col-sm">
            <div class="card" style="height: 30rem; background-color:rgb(221, 235, 82)" >
                <img class="card-img-top" src="https://media.istockphoto.com/id/1321462048/photo/digital-transformation-concept-system-engineering-binary-code-programming.jpg?s=612x612&w=0&k=20&c=Ib8RLw3_eCOo9N3YE4pvp9rcb_WmirjS-9x9R-vTd68=" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Oooh picture</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra dolor vel elit accumsan,
                     ac pulvinar augue tincidunt. Vestibulum pellentesque dolor massa, at mattis mi molestie eget. In at vehicula mi.
                     Proin dapibus faucibus est vel varius. In vel velit lectus. Integer risus nunc, ultrices ullamcorper eleifend id, 
                     ornare nec urna. Integer quis massa rutrum, fringilla sem sit amet, maximus metus. Morbi pellentesque ut sem scelerisque tincidunt.
                      Proin tempor ligula in tellus mattis, id consectetur urna convallis. Curabitur at nisl metus. Sed ipsum lorem, 
                      rhoncus sed mauris vitae, lacinia tempus lectus. Maecenas porttitor dolor ligula, eget aliquet justo vulputate quis.
                       Suspendisse vitae eros augue. Pellentesque nisl nisl, luctus eu elit tristique, luctus molestie ex.</p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
              </div>
          
              <div class="col-sm">
                <div class="card" style="height: 30rem; background-color:rgb(221, 235, 82)" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Go away</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra dolor vel elit accumsan,
                    ac pulvinar augue tincidunt. Vestibulum pellentesque dolor massa, at mattis mi molestie eget. In at vehicula mi.
                    Proin dapibus faucibus est vel varius. In vel velit lectus. Integer risus nunc, ultrices ullamcorper eleifend id, 
                    ornare nec urna. Integer quis massa rutrum, fringilla sem sit amet, maximus metus. Morbi pellentesque ut sem scelerisque tincidunt.
                     Proin tempor ligula in tellus mattis, id consectetur urna convallis. Curabitur at nisl metus. Sed ipsum lorem, 
                     rhoncus sed mauris vitae, lacinia tempus lectus. Maecenas porttitor dolor ligula, eget aliquet justo vulputate quis.
                      Suspendisse vitae eros augue. Pellentesque nisl nisl, luctus eu elit tristique, luctus molestie ex.</p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
              </div>
              <div class="col-sm-1"></div>
            
        </div>

        &nbsp

        <div class="row" style="height: 30rem;">
          <div class="col-sm-1"></div>
          <div class="col-sm">
            <div class="card" style="height: 30rem; background-color:rgb(221, 235, 82)" >
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Why you should quit your job</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra dolor vel elit accumsan,
                  ac pulvinar augue tincidunt. Vestibulum pellentesque dolor massa, at mattis mi molestie eget. In at vehicula mi.
                  Proin dapibus faucibus est vel varius. In vel velit lectus. Integer risus nunc, ultrices ullamcorper eleifend id, 
                  ornare nec urna. Integer quis massa rutrum, fringilla sem sit amet, maximus metus. Morbi pellentesque ut sem scelerisque tincidunt.
                   Proin tempor ligula in tellus mattis, id consectetur urna convallis. Curabitur at nisl metus. Sed ipsum lorem, 
                   rhoncus sed mauris vitae, lacinia tempus lectus. Maecenas porttitor dolor ligula, eget aliquet justo vulputate quis.
                    Suspendisse vitae eros augue. Pellentesque nisl nisl, luctus eu elit tristique, luctus molestie ex.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
            </div>

            <div class="col-sm">
              <div class="card" style="height: 30rem; background-color:rgb(221, 235, 82)" >
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Something</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra dolor vel elit accumsan,
                  ac pulvinar augue tincidunt. Vestibulum pellentesque dolor massa, at mattis mi molestie eget. In at vehicula mi.
                  Proin dapibus faucibus est vel varius. In vel velit lectus. Integer risus nunc, ultrices ullamcorper eleifend id, 
                  ornare nec urna. Integer quis massa rutrum, fringilla sem sit amet, maximus metus. Morbi pellentesque ut sem scelerisque tincidunt.
                   Proin tempor ligula in tellus mattis, id consectetur urna convallis. Curabitur at nisl metus. Sed ipsum lorem, 
                   rhoncus sed mauris vitae, lacinia tempus lectus. Maecenas porttitor dolor ligula, eget aliquet justo vulputate quis.
                    Suspendisse vitae eros augue. Pellentesque nisl nisl, luctus eu elit tristique, luctus molestie ex.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        &nbsp

</body>

</html>